# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv

# VS Code
.vscode/
*.code-workspace

# RMS results files
rms_results/*

martin_ees_dev/*
martin_ieee118_dev/*
martin_IEEE_39/*
martin_testing/*